<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Listado de Ciudadanos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">App equipos </span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/ciudadano}">Listado de ciudadanos</a>

        </div>

    </div>
</nav>
<br>
<br>
<div class="container">
    <h1>Listado de ciudadanos</h1>
    <br>
    <a class="btn btn-primary" href="#" th:href="@{/ciudadano/nuevo}">Adicionar ciudadano</a>

    <br> <br>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Serial</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo documento</th>
            <th>Numero</th>
            <th>Fecha de nacimiento</th>
            <th>Acciones</th>
            <th>¿Tiene madre?</th>
            <th>Serial madre</th>
            <th>Nombre madre</th>
            <th>Apellido madre</th>
            <th>Tipo documento madre</th>
            <th>Numero madre</th>
            <th>Fecha de nacimiento madre</th>
            <th>¿Tiene padre?</th>
            <th>Serial padre</th>
            <th>Nombre padre</th>
            <th>Apellido padre</th>
            <th>Tipo documento padre</th>
            <th>Numero padre</th>
            <th>Fecha de nacimiento padre</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="dato : ${ciudadano}">
            <td th:text="${dato.serial}">Serial</td>
            <td th:text="${dato.nombre}">nombre</td>
            <td th:text="${dato.apellido}">apellido</td>
            <td th:text="${dato.tipodocumento}">tipo documento</td>
            <td th:text="${dato.documento}">numero</td>
            <td th:text="${dato.fechanacimiento}">fecha de nacimiento</td>
            <td>
                <a th:href="@{/ciudadano/modificar/{serial}(serial=${dato.serial})}" class="btn btn-info">Editar Ciudadano</a>
                <a th:href="@{/ciudadano/{serial}(serial=${dato.serial})}" class="btn btn-danger" onclick="return confirmarEliminar()">Eliminar Ciudadano</a>
            </td>
        </tr>
        <tr th:each="dato : ${madre}">
            <td th:text="${dato.serialm}">Serial</td>
            <td th:text="${dato.nombrem}">nombre</td>
            <td th:text="${dato.apellidom}">apellido</td>
            <td th:text="${dato.tipodocumentom}">tipo documento</td>
            <td th:text="${dato.documentom}">numero</td>
            <td th:text="${dato.fechanacimientom}">fecha de nacimiento</td>
            <td>
                <a th:href="@{/madre/modificar/{serial}(serial=${dato.serialm})}" class="btn btn-info">Editar Madre</a>
                <a th:href="@{/madre/{serial}(serial=${dato.serialm})}" class="btn btn-danger" onclick="return confirmarEliminar()">Eliminar Madre</a>
            </td>
        </tr>
        <tr th:each="dato : ${padre}">
            <td th:text="${dato.serialp}">Serial</td>
            <td th:text="${dato.nombrep}">nombre</td>
            <td th:text="${dato.apellidop}">apellido</td>
            <td th:text="${dato.tipodocumentop}">tipo documento</td>
            <td th:text="${dato.documentop}">numero</td>
            <td th:text="${dato.fechanacimientop}">fecha de nacimiento</td>
            <td>
                <a th:href="@{/padre/modificar/{serial}(serial=${dato.serialp})}" class="btn btn-info">Editar Padre</a>
                <a th:href="@{/padre/{serial}(serial=${dato.serialp})}" class="btn btn-danger" onclick="return confirmarEliminar()">Eliminar Padre</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
